<tr>
    <td>!id!<br></td>
    <td>ユーザー名：!name!<br></td>
    <td>ペットの名前：!name of pet!<br></td>
    <td>ペットの種類：!type of pet!<br></td>
    <td>ペットの性別：!gender of pet!<br></td>
    <td>ペットの年齢：!age of pet!天<br></td>
    <td>ペットの体重：!weight of pet!<br></td>
    <td>前回ワクチン接種の時間：!time of vaccine!<br></td>
    <td>登録日付：!time of register!<br></td>

    
    <td>
        <form action="user_search.php" method="get">
            <input type="submit" value="削除">
            <input type="hidden" name="mode" value="delete">
            <input type="hidden" name="name" value="!name!">
            <input type="hidden" name="id" value="!id!">
            <input type="hidden" name="namae1" value="!name!">
        </form>
    </td>
</tr>